<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 02 - Usando Diretivas (Parte 1)</title>

    <!-- AngularJS e Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <style>
        .jumbotron {
            width: 500px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .jumbotron h4 {
            margin-bottom: 30px;
        }
        .jumbotron input, .jumbotron select, .jumbotron button {
            margin-bottom: 5px;
        }
        .jumbotron button {
            min-width: 160px;
        }
        .selecionado {
            background-color: pink !important;
        }
    </style>

    <script>
        angular.module("listaTelefonica", [])
        angular.module("listaTelefonica").controller("listaTelefonicaController", $scope => {
            $scope.app = "Pokelista Telefônica"

            $scope.contatos = [
                { nome: "Bulbasauro", telefone: "11111111", operadora: { nome: "Vivo", codigo: 15, categoria: "Fixo" } },
                { nome: "Charmander", telefone: "22222222", operadora: { nome: "Tim", codigo: 41, categoria: "Celular" } },
                { nome: "Squirtle", telefone: "33333333", operadora: { nome: "Claro", codigo: 21, categoria: "Celular" } }
            ]

            $scope.operadoras = [
                { nome: "Vivo", codigo: 15, categoria: "Fixo" },
                { nome: "Tim", codigo: 41, categoria: "Celular" },
                { nome: "Claro", codigo: 21, categoria: "Celular" }
            ]

            $scope.adicionarContato = contato => {
                $scope.contatos.push(angular.copy(contato))
                delete $scope.contato
            }

            $scope.removerContatos = contatos => {
                $scope.contatos = contatos.filter(contato => { if (!contato.selecionado) return contato })
            }
        })
    </script>
    
</head>
<body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
        <!--<h4 ng-bind="app"></h4>-->
        <h4>{{app}}</h4>
        
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />

        <!-- Método 1 -->
        <!--
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione...</option>
        </select>
        -->

        <!-- Método 2 -->
        <!--
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras">
            <option value="">Selecione...</option>
        </select>
        -->

        <!-- Método 3 -->
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora...</option>
        </select>
        
        <div class="clearfix">
            <button class="btn btn-primary float-left" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar</button>
            <button class="btn btn-danger float-right" ng-click="removerContatos(contatos)">Excluir</button>
        </div>
        <hr />

        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado" /></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
            </tr>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>